include LICENSE
include README.rst
recursive-include webutils/images *
recursive-include webutils/*/templates *
recursive-include webutils/watermarker/templatetags *
include webutils/watermarker *.png